### **Data Loading, Storage, and File Formats**

#### **6.1 Reading and Writing Data in Text Format**

pandas has a number of functions for reading tabular data as a Dataframe object

##### ***Mechanics of the function***

1. ***Indexing*** -- Can treat one or more columns as the returned Dataframe, and whether to get columns names from the files, arguments you provide or not at all.
2. ***Type inference and data conversion*** -- the user defined value conversions and custom list of missing value markers.
3. ***Data and Time parsing*** -- Includes combining capability, including combining date and time information spread over multiple columns into a single columns in a result.
4. ***Iterating*** -- Support for iterating over chunks of very large files.
5. ***Unclean data issue*** -- Skipping rows or a footer, comments, or other minor things like numeric data with thousands seperated with commas.

Because of how messy data in the real world can be, some of the data loading functions (especially read_csv) have accumulated a long list of optional arguments over time.

Some functions like read_csv, perform type inference, because the column data types are not part of the data format. That means you don't necessarily have to specify which columns are numeric, integer, boolean, or string.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
!type "..\data\ex1.csv"

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
# since it is comma-delimited, we can read_csv
df = pd.read_csv("../data/ex1.csv")

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
# a file will not always have a header row.
!type "..\data\ex2.csv"

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
# options-  1. you can allow pandas to assign a default comlumn name, or you can specify names yourself
pd.read_csv('../data/ex2.csv',header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('../data/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
# suppose you wanted the message column to be the index of the returned DataFrame.
names = ['a','b','c','d','message']
pd.read_csv('../data/ex2.csv',names = names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
# in the event you want to form a heirarchical index from multiple column, pass a list of column numbers or names:
!type ..\data\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [10]:
parsed = pd.read_csv('../data/csv_mindex.csv',index_col=['key1','key2'])

In [11]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [12]:
# in some cases, a table might not have a fixed delimiter, using a whitespace or some other pattern to seperate fields
list(open('../data/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

While you could do some munging by hand, but here are seperated by fixed number of whitespaces. In this case you use the regular read_csv function like this.

In [13]:
result = pd.read_csv('../data/ex3.txt',sep= r'\s+')

In [14]:
result # here since the number of columns is less than the number of rows, read_csv infers that the first column must be the index in this special case.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [15]:
# exploring the additional arguments in the parser function
!type ..\data\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
pd.read_csv('../data/ex4.csv',skiprows=[0,2,3]) # skips these rows

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Handling missing values is important. Missing value is either not present or marked by some sentinel(placeholder) value. By default, pandas uses a set of commonly ocurring sentinels,like NA or NULL:

In [17]:
!type ..\data\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [18]:
result = pd.read_csv('../data/ex5.csv')

In [19]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [21]:
result = pd.read_csv('../data/ex5.csv',na_values=['NULL']) # to consider null values

In [22]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
# different NA sentinels can be specified for each column in a dict:
sentinels = {'message':['foo','NA'],'something':['two']}
pd.read_csv('../data/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

#### ***Reading Text files in Pieces***

If a file is very large you may only want to read it in a small piece of file or through smaller chunks of file.

In [24]:
pd.options.display.max_rows=10

In [25]:
result = pd.read_csv('../data/ex6.csv')

In [26]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [27]:
# if you want a small number of rows
pd.read_csv('../data/ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [28]:
# you can also specify the chunk size
chunker = pd.read_csv('../data/ex6.csv',chunksize=1000)

In [29]:
chunker 
# the TextFileReader object returned allows you to iterate over the parts of file according to the chunksize.

In [30]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot.sort_values(ascending=False)
# TextFilereader is equipped with get_chunk that enales you to read pieces of an arbitrary size

key
E    368
X    364
L    346
O    343
Q    340
    ...
5    157
2    152
0    151
9    150
1    146
Length: 36, dtype: object

#### ***Writing Data to Text Format***

In [31]:
# Data can also be exported to delimited format
data = pd.read_csv('../data/ex5.csv')

In [32]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [33]:
data.to_csv('../data/out.csv')

In [34]:
!type ..\data\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [35]:
import sys

In [36]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [37]:
# missing values appear a empty strings. you might want to change them to something more visible
data.to_csv(sys.stdout,sep='|',na_rep='NULL')

|something|a|b|c|d|message
0|one|1|2|3.0|4|NULL
1|two|5|6|NULL|8|world
2|three|9|10|11.0|12|foo

In [38]:
# row and column labels can be disabled
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [39]:
# write only subset of column
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [40]:
# Series also has to_csv method
index = np.arange(10,17)
series = pd.Series(np.arange(7),index=index)
series.to_csv('../data/series.csv')

In [41]:
!type ..\data\series.csv

,0
10,0
11,1
12,2
13,3
14,4
15,5
16,6

#### Working with Delimited Formats

In [42]:
!type ..\data\ex7.csv 
# in some cases some manual pricessing may be necessary

"a","b","c"
"1","2","3"
"1","2","3"

In [43]:
# python in built csv module
import csv
f = open('../data/ex7.csv')
reader = csv.reader(f)

In [44]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [45]:
# it is up to you to do the wrangling necessary to put the data in the form you need
with open('../data/ex7.csv') as f:
    lines = list(csv.reader(f))

In [46]:
header,values = lines[0],lines[1:]

In [47]:
header

['a', 'b', 'c']

In [48]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [49]:
# then we can create a dict of data columns 
data_dict = {h:v for h,v in zip(header,zip(*values))}

In [50]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

### JSON DATA

In [51]:
obj = """
{
"name": "Wes",
"cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
"pet": null,
"siblings": [
    {"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
    {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}
]
}
"""

In [52]:
obj

'\n{\n"name": "Wes",\n"cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],\n"pet": null,\n"siblings": [\n    {"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},\n    {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}\n]\n}\n'

JSON is nearly valid python code with its exception of its null values.

In [53]:
import json

In [54]:
result = json.loads(obj)

In [55]:
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [56]:
# dumps converts python object back to json
asjson = json.dumps(result)

In [57]:
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [58]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])

In [59]:
siblings

    name  age
0  Scott   34
1  Katie   42

In [61]:
# pandas.read_json can directly convert json datasets into a series or dataframe. the assumption while doing this is that each object in json array is a row int he table 
!type ..\data\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [62]:
data = pd.read_json('../data/example.json')

In [63]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

if you want to export data from pandas to JSON, one way is to use the to_json methods on series or dataframes

In [64]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [65]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: WEB Scrapping

In [1]:
conda install lxml

error: incomplete escape \U at position 28